<%- include ./partials/head %>
<body>
  <div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
      <a class="pure-menu-heading" href="/dash">Dash</a>
      <ul class="pure-menu-list is-right">
        <li class="pure-menu-item"><a href="/dash#top" class="pure-menu-link">Token</a></li>
        <li class="pure-menu-item"><a href="/dash#password" class="pure-menu-link">Password</a></li>
        <li class="pure-menu-item"><a href="/logout" class="pure-menu-link">Logout</a></li>
      </ul>
    </div>
  </div>
    <div class="splash-container">
        <div class="splash">
            <h1 class="splash-head">SMAGNET Dashboard</h1>
            <p class="splash-subhead">Here you can manage your user profile, including reset your passphrase, view and refresh your token.</p>
        </div>
    </div>
    <div class="content-wrapper" id="top">
        <div class="content">
            <%- include ./partials/apiToken %>
        </div>
        <div class="content dark">
            <%- include ./partials/reqPass %>
        </div>
<%- include ./partials/footer %>