<%_ if(local.url.indexOf('/recover') < 0) { _%>
  <a class="pure-button" href="/dash/admin/recover/#manage">Recover</a>
<%_ } else { _%>
  <a class="pure-button" href="/dash/admin/#manage">Manage</a>
<%_ } _%>  