<%_ if(local.url.indexOf('/recover') < 0) { _%>
  <%_ if (local.page.prev) { _%>
    <a class="prev" href="/users/admin/<%= local.page.prev  %>">Back</a>
  <%_ } _%>
  <%_ if (local.page.next) { _%>
    <a class="next" href="/users/admin/<%= local.page.next %>">Next</a>
  <%_ } _%>
<%_ } else { _%>
  <%_ if (local.page.prev) { _%>
    <a class="prev" href="/users/admin/recover/<%= local.page.prev  %>">Back</a>
  <%_ } _%>
  <%_ if (local.page.next) { _%>
      <a class="next" href="/users/admin/recover/<%= local.page.next %>">Next</a>
  <%_ } _%>
<%_ } _%> 