<%_ if(local.url.indexOf('/recover') < 0) { _%>
  <a class="pure-button" href="/dash/admin/recover/#manage">Recover Users</a>
<%_ } else { _%>
  <a class="pure-button" href="/dash/admin/#manage">Manage Users</a>
<%_ } _%>
  <button class="pure-button" id="filter-clear" onclick="filter()" style="display:none;">Clear Filters</button>
