        <div class="content dark" id="bottom"><div>
    </div>
</div>
<div class="footer l-box is-center">
    Secured MySQL API with GraphQL NodeJS Express & TLS (SMAGNET) Dashboard
</div>
<script src="/js/ui.js"></script>
</body>
</html>