    <div class="footer l-box is-center">
        Secured MySQL API with GraphQL NodeJS Express & TLS (SMAGNET) Dashboard
    </div>
  </div>
    <script
  src="https://code.jquery.com/jquery-1.8.3.min.js" integrity="sha256-YcbK69I5IXQftf/mYD8WY0/KmEDCv1asggHpJk1trM8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.ba-bbq/1.2.1/jquery.ba-bbq.min.js"></script>
  <script src="/ui.js"></script>
</div>
</body>
</html>